/* Global styles */
	.panel ul {
		padding-left: 1em;
	}
/* Global styles */

/* Utility classes */
	.centered {
		display: block;
		margin: 0 auto;
	}
/* Utility classes */

/* Foundation Add-ons */
	.row {
		max-width: 90%;
	}
	fieldset {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.success.button,
	.success.button:hover {
		color: #000;
	}
	.orange.button {
		background: #eb7338;
		border: 1px solid #c8612d;
	}
	.orange.button:hover {
		background: #d36731;
		border: 1px solid #eb7338;
	}
/* Foundation Add-ons */

/* Content */
	body {
		background: url(/img/ezphpbg.png) 1% 84% no-repeat fixed;
	}
	.title-area .name h1 span {
		position: absolute;
		color: #fff;
		font-size: 5em;
		top: -.12em;
		left: 0;
	}
	.title-area .name h1 {
		padding-left: 4.5em;
	}
	.content {
		padding: 1em;
		min-height: 37.8em;
	}
	.usage {
		max-width: 96%;
	}
	.tableofcontents ol {
		margin: 0 2.4em;
	}
	.panel h4 em {
		color: #666666;
		font-weight: 200;
	}
	.panel h4 em span {
		color: #aaa;
	}
	footer.main {
		display: block;
		width: 100%;
		height: 2em;
		clear: both;
		padding: 1em 1em 4em;
		color: #fff;
		background: #008cba;
	}	
/* Content */

/* Font Awesome Add-ons */
	.medium-icon {
		font-size: 2em;
	}
	.large-icon {
		font-size: 3em;
	}
	.orange.large-icon {
		color: #eb7338;
	}
/* Font Awesome Add-ons */